<h4>Réserver </h4>
<%= simple_form_for [country, booking], model: booking, data: { insert_in_list_target: "form", action: "submit->insert-in-list#send" }, local: true do |f| %>
  <div class="form-inputs">
    <%= f.input :arrival_date, as: :string, label: "Date d'arrivée",
    input_html: { data: { controller: "flatpickr" } }%>
    <%= f.input :departure_date, as: :string, label: "Date de départ",
    input_html: { data: { controller: "flatpickr" } }%>
  </div>

  <div class="form-actions" value="Confirmer" >
    <%= f.button :submit, "Confirmer", name: "confirmation_button", url: country_bookings_path(country)%>
  </div>
<% end %>
