// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";


// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "countries_show.css";
@import "card.css";

// Importing Components
@import "card";

@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

// Importing layouts
// @import "countries";

/* Styles du dropdown */
#resource-dropdown-btn {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  color: #333;
}

.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}

.checkbox-container {
  max-height: 200px;
  overflow-y: auto;
}

.resource-scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  max-width: 100%;
  padding: 10px;
  white-space: nowrap;
}

.resource-filter {
  min-width: 100px;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
}

.emoji {
  display: block;
  font-size: 24px;
}

.scroll-btn {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.scroll-btn:hover {
  color: #007bff;
}

.resource-filter {
  outline: none !important;
  box-shadow: none !important; /* Supprime tout effet d'ombre autour */
}

.resource-filter:focus,
.resource-filter:active {
  outline: none !important;
  box-shadow: none !important;
}
