// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";


// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "countries_show.css";
@import "card.css";

/* Styles du dropdown */
#resource-dropdown-btn {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  color: #333;
}

.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}

.checkbox-container {
  max-height: 200px;
  overflow-y: auto;
}
