// Carte complete (img + textes + form

.container {
  margin: 50px;
}

.details-card {
  background-color: #191919;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  padding: 45px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.details-card img {
  max-width: 100%;
  margin: auto;
  border-radius: 10px;
}

.title-country, .description-country {
  margin: 25px;
}

.resources-tag{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

// Tags (continent, langue, climat)

.info-details ul {
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  padding: 5px;
  margin: 20px;
  gap: 10px;
  justify-content: flex-start;
}

.info-details li {
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  border: 0.5px solid #171414;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #ffffff;
  text-align: center;
  color: #333;
  font-size: 15px;
}

// Bonton réserver

.btn-reserver {
  background: #7bdcb5;
  border: solid;
  border-radius: 15px;
  padding: 15px;
  color: #212529;
}

.btn-reserver :hover {
  color: white;
  background-color: #212529;
}

// Form

.form-reservation {
  margin: 20px;
}

// Bouton confirmer du form réservation

.btn-confirmation {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: 0.5px solid #171414;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
}

// Bouton retour sur index

.btn-suggest a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 1px, solid, black;
  background: black;
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
}

.btn-suggest a:hover {
  background-color: #191919;
  border: 1px, solid, #191919;
  color: white;
}
